homepath: /home/ubuntu
basepath: /home/ubuntu/UCB-steam
logpath: /home/ubuntu/UCB-steam/logs
buildtargets:
    - prod-windows-64bit:
        steam:
            package: prod
            app_id: 1000
            depot_id: 1001
            branch_name: default
            live: false
        butler:
            package: prod
            channel: ea-windows
    - prod-linux-64bit:
        steam:
            package: prod
            app_id: 1000
            depot_id: 1002
            branch_name: default
            live: false
        butler:
            package: prod
            channel: ea-linux
    - prod-macos:
        steam:
            package: prod
            app_id: 1000
            depot_id: 1003
            branch_name: default
            live: false
        butler:
            package: prod
            channel: ea-macos
    - beta-windows-64bit:
        steam:
            package: beta
            app_id: 1000
            depot_id: 1001
            branch_name: beta
            live: true
    - beta-linux-64bit:
        steam:
            package: beta
            app_id: 1000
            depot_id: 1002
            branch_name: beta
            live: true
    - beta-macos:
        steam:
            package: beta
            app_id: 1000
            depot_id: 1003
            branch_name: beta
            live: true
	- demo-windows-64bit:
        steam:
            package: demo
            app_id: 3000
            depot_id: 3001
            branch_name: default
            live: true
    - demo-linux-64bit:
        steam:
            package: demo
            app_id: 3000
            depot_id: 3002
            branch_name: default
            live: true
    - demo-macos:
        steam:
            package: demo
            app_id: 3000
            depot_id: 3003
            branch_name: default
            live: true
steam:
    user: darthvaderPGM
    password: sidiousalways2nd
butler:
    apikey: jsdf54ze564ezrjU485aHfghLKjyuEMLSvgabUV
    org: empire
    project: death-star
email:
    from: steambuild@empire.org
    recipients:
        - darthvader@empire.org
        - generaltarkin@empire.org
unity:
    org_id: 4815162342
    project_id: 3283627-c3po-r2d2-bb8-tk421
    api_key: a6a5fa03a9b8711code66cd467836a4
    build_max_age: 180
aws:
    region: eu-west-1
    accesskey: OSDFUZEOIUZAPOIRIOUIUEZR
    secretkey: YmKphQIUoXkyvZorr1Oak5Yd30IIhk1n7nwf4WgI
    s3bucket: empire.org
